{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}


{% block hhdd %}
<div class="main-wrapper">
  <!-- banner-area start -->
      <div style ="" class="banner-area bg-img-9 ptb-140 black-opacity">
        <div class="arrow-btn">
          <a href="#portfolio" id="scroll">
            <span class="icon nz-arrow9"></span>
          </a>
        </div>
        <div class="container">
         
            <div class="col-xs-12">
              <div class="banner-wrap text-center">
                <h2 style="">Purchase Items Easily</h2>
                
              </div>
            </div>
         
        </div>
      </div>
</div>
{% endblock hhdd %}


{% block forms %}

      <form method="post" novalidate class="checkout__shipping">
        {% csrf_token %}
        <h2>{% trans "Shipping address" context "Checkout shipping address title" %}</h2>
        {% if request.user.is_authenticated %}
          {% include "checkout/snippets/addresses_form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
        {% else %}
          {% bootstrap_form user_form %}
          {% include "userprofile/snippets/address_form.html" with address_form=address_form only %}
        {% endif %}

        <p class="text-md-right">
          <button type="submit" class="btn primary">
            {% trans "Continue" context "Checkout shipping address primary action" %}
          </button>
        </p>
      </form>




   
{% endblock %}
